<style type="text/css">
#T_6e414 tr:hover {
  background: #f4f4f4;
}
#T_6e414 th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: black;
  font-size: 18px;
}
#T_6e414 td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_6e414 table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_6e414 caption {
  caption-side: top;
}
</style>
<table id="T_6e414">
  <caption>Frequencies of the different famillies for Molluscs </caption>
  <thead>
    <tr>
      <th id="T_6e414_level0_col0" class="col_heading level0 col0" >familly</th>
      <th id="T_6e414_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_6e414_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_6e414_row0_col0" class="data row0 col0" >Helicidae</td>
      <td id="T_6e414_row0_col1" class="data row0 col1" >3275</td>
      <td id="T_6e414_row0_col2" class="data row0 col2" >40.27</td>
    </tr>
    <tr>
      <td id="T_6e414_row1_col0" class="data row1 col0" >Arionidae</td>
      <td id="T_6e414_row1_col1" class="data row1 col1" >1028</td>
      <td id="T_6e414_row1_col2" class="data row1 col2" >12.64</td>
    </tr>
    <tr>
      <td id="T_6e414_row2_col0" class="data row2 col0" >LIMACIDAE</td>
      <td id="T_6e414_row2_col1" class="data row2 col1" >913</td>
      <td id="T_6e414_row2_col2" class="data row2 col2" >11.23</td>
    </tr>
    <tr>
      <td id="T_6e414_row3_col0" class="data row3 col0" >Hygromiidae</td>
      <td id="T_6e414_row3_col1" class="data row3 col1" >868</td>
      <td id="T_6e414_row3_col2" class="data row3 col2" >10.67</td>
    </tr>
    <tr>
      <td id="T_6e414_row4_col0" class="data row4 col0" >SUCCINEIDAE</td>
      <td id="T_6e414_row4_col1" class="data row4 col1" >297</td>
      <td id="T_6e414_row4_col2" class="data row4 col2" >3.65</td>
    </tr>
    <tr>
      <td id="T_6e414_row5_col0" class="data row5 col0" >CLAUSILIIDAE</td>
      <td id="T_6e414_row5_col1" class="data row5 col1" >291</td>
      <td id="T_6e414_row5_col2" class="data row5 col2" >3.58</td>
    </tr>
    <tr>
      <td id="T_6e414_row6_col0" class="data row6 col0" >Oxychilidae</td>
      <td id="T_6e414_row6_col1" class="data row6 col1" >211</td>
      <td id="T_6e414_row6_col2" class="data row6 col2" >2.59</td>
    </tr>
    <tr>
      <td id="T_6e414_row7_col0" class="data row7 col0" >AGRIOLIMACIDAE</td>
      <td id="T_6e414_row7_col1" class="data row7 col1" >186</td>
      <td id="T_6e414_row7_col2" class="data row7 col2" >2.29</td>
    </tr>
    <tr>
      <td id="T_6e414_row8_col0" class="data row8 col0" >LYMNAEIDAE</td>
      <td id="T_6e414_row8_col1" class="data row8 col1" >181</td>
      <td id="T_6e414_row8_col2" class="data row8 col2" >2.23</td>
    </tr>
    <tr>
      <td id="T_6e414_row9_col0" class="data row9 col0" >PLANORBIDAE</td>
      <td id="T_6e414_row9_col1" class="data row9 col1" >148</td>
      <td id="T_6e414_row9_col2" class="data row9 col2" >1.82</td>
    </tr>
    <tr>
      <td id="T_6e414_row10_col0" class="data row10 col0" >DISCIDAE</td>
      <td id="T_6e414_row10_col1" class="data row10 col1" >136</td>
      <td id="T_6e414_row10_col2" class="data row10 col2" >1.67</td>
    </tr>
    <tr>
      <td id="T_6e414_row11_col0" class="data row11 col0" >Gastropoda</td>
      <td id="T_6e414_row11_col1" class="data row11 col1" >88</td>
      <td id="T_6e414_row11_col2" class="data row11 col2" >1.08</td>
    </tr>
    <tr>
      <td id="T_6e414_row12_col0" class="data row12 col0" >BRADYBAENIDAE</td>
      <td id="T_6e414_row12_col1" class="data row12 col1" >73</td>
      <td id="T_6e414_row12_col2" class="data row12 col2" >0.90</td>
    </tr>
    <tr>
      <td id="T_6e414_row13_col0" class="data row13 col0" >COCHLICOPIDAE</td>
      <td id="T_6e414_row13_col1" class="data row13 col1" >50</td>
      <td id="T_6e414_row13_col2" class="data row13 col2" >0.61</td>
    </tr>
    <tr>
      <td id="T_6e414_row14_col0" class="data row14 col0" >Unionidae</td>
      <td id="T_6e414_row14_col1" class="data row14 col1" >47</td>
      <td id="T_6e414_row14_col2" class="data row14 col2" >0.58</td>
    </tr>
    <tr>
      <td id="T_6e414_row15_col0" class="data row15 col0" >Sphaeriidae</td>
      <td id="T_6e414_row15_col1" class="data row15 col1" >40</td>
      <td id="T_6e414_row15_col2" class="data row15 col2" >0.49</td>
    </tr>
    <tr>
      <td id="T_6e414_row16_col0" class="data row16 col0" >VALLONIIDAE</td>
      <td id="T_6e414_row16_col1" class="data row16 col1" >35</td>
      <td id="T_6e414_row16_col2" class="data row16 col2" >0.43</td>
    </tr>
    <tr>
      <td id="T_6e414_row17_col0" class="data row17 col0" >VITRINIDAE</td>
      <td id="T_6e414_row17_col1" class="data row17 col1" >29</td>
      <td id="T_6e414_row17_col2" class="data row17 col2" >0.36</td>
    </tr>
    <tr>
      <td id="T_6e414_row18_col0" class="data row18 col0" >ENIDAE</td>
      <td id="T_6e414_row18_col1" class="data row18 col1" >27</td>
      <td id="T_6e414_row18_col2" class="data row18 col2" >0.33</td>
    </tr>
    <tr>
      <td id="T_6e414_row19_col0" class="data row19 col0" >BITHYNIIDAE</td>
      <td id="T_6e414_row19_col1" class="data row19 col1" >24</td>
      <td id="T_6e414_row19_col2" class="data row19 col2" >0.30</td>
    </tr>
  </tbody>
</table>
