<style type="text/css">
#T_a4942 tr:hover {
  background: #f4f4f4;
}
#T_a4942 th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: black;
  font-size: 18px;
}
#T_a4942 td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_a4942 table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_a4942 caption {
  caption-side: top;
}
</style>
<table id="T_a4942">
  <caption>Frequencies of the different famillies for Dragonflies</caption>
  <thead>
    <tr>
      <th id="T_a4942_level0_col0" class="col_heading level0 col0" >familly</th>
      <th id="T_a4942_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_a4942_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_a4942_row0_col0" class="data row0 col0" >Libellulidae</td>
      <td id="T_a4942_row0_col1" class="data row0 col1" >13082</td>
      <td id="T_a4942_row0_col2" class="data row0 col2" >32.65</td>
    </tr>
    <tr>
      <td id="T_a4942_row1_col0" class="data row1 col0" >Coenagrionidae</td>
      <td id="T_a4942_row1_col1" class="data row1 col1" >12353</td>
      <td id="T_a4942_row1_col2" class="data row1 col2" >30.83</td>
    </tr>
    <tr>
      <td id="T_a4942_row2_col0" class="data row2 col0" >Aeshnidae</td>
      <td id="T_a4942_row2_col1" class="data row2 col1" >7787</td>
      <td id="T_a4942_row2_col2" class="data row2 col2" >19.43</td>
    </tr>
    <tr>
      <td id="T_a4942_row3_col0" class="data row3 col0" >Lestidae</td>
      <td id="T_a4942_row3_col1" class="data row3 col1" >3444</td>
      <td id="T_a4942_row3_col2" class="data row3 col2" >8.59</td>
    </tr>
    <tr>
      <td id="T_a4942_row4_col0" class="data row4 col0" >Calopterygidae</td>
      <td id="T_a4942_row4_col1" class="data row4 col1" >1758</td>
      <td id="T_a4942_row4_col2" class="data row4 col2" >4.39</td>
    </tr>
    <tr>
      <td id="T_a4942_row5_col0" class="data row5 col0" >Platycnemididae</td>
      <td id="T_a4942_row5_col1" class="data row5 col1" >808</td>
      <td id="T_a4942_row5_col2" class="data row5 col2" >2.02</td>
    </tr>
    <tr>
      <td id="T_a4942_row6_col0" class="data row6 col0" >Corduliidae</td>
      <td id="T_a4942_row6_col1" class="data row6 col1" >625</td>
      <td id="T_a4942_row6_col2" class="data row6 col2" >1.56</td>
    </tr>
    <tr>
      <td id="T_a4942_row7_col0" class="data row7 col0" >Odonata</td>
      <td id="T_a4942_row7_col1" class="data row7 col1" >129</td>
      <td id="T_a4942_row7_col2" class="data row7 col2" >0.32</td>
    </tr>
    <tr>
      <td id="T_a4942_row8_col0" class="data row8 col0" >Gomphidae</td>
      <td id="T_a4942_row8_col1" class="data row8 col1" >59</td>
      <td id="T_a4942_row8_col2" class="data row8 col2" >0.15</td>
    </tr>
    <tr>
      <td id="T_a4942_row9_col0" class="data row9 col0" >Cordulegastridae</td>
      <td id="T_a4942_row9_col1" class="data row9 col1" >28</td>
      <td id="T_a4942_row9_col2" class="data row9 col2" >0.07</td>
    </tr>
  </tbody>
</table>
