<style type="text/css">
#T_73aef tr:hover {
  background: #f4f4f4;
}
#T_73aef th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: black;
  font-size: 18px;
}
#T_73aef td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_73aef table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_73aef caption {
  caption-side: top;
}
</style>
<table id="T_73aef">
  <caption>Top 20 most observed species of Bees, Wasps and ants</caption>
  <thead>
    <tr>
      <th id="T_73aef_level0_col0" class="col_heading level0 col0" >species</th>
      <th id="T_73aef_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_73aef_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_73aef_row0_col0" class="data row0 col0" >Bombus pascuorum</td>
      <td id="T_73aef_row0_col1" class="data row0 col1" >3936</td>
      <td id="T_73aef_row0_col2" class="data row0 col2" >7.75</td>
    </tr>
    <tr>
      <td id="T_73aef_row1_col0" class="data row1 col0" >Apis mellifera</td>
      <td id="T_73aef_row1_col1" class="data row1 col1" >3283</td>
      <td id="T_73aef_row1_col2" class="data row1 col2" >6.47</td>
    </tr>
    <tr>
      <td id="T_73aef_row2_col0" class="data row2 col0" >Bombus lapidarius</td>
      <td id="T_73aef_row2_col1" class="data row2 col1" >2169</td>
      <td id="T_73aef_row2_col2" class="data row2 col2" >4.27</td>
    </tr>
    <tr>
      <td id="T_73aef_row3_col0" class="data row3 col0" >Bombus terrestris/lucorum/magnus/cryptarum</td>
      <td id="T_73aef_row3_col1" class="data row3 col1" >1981</td>
      <td id="T_73aef_row3_col2" class="data row3 col2" >3.90</td>
    </tr>
    <tr>
      <td id="T_73aef_row4_col0" class="data row4 col0" >Vespa crabro</td>
      <td id="T_73aef_row4_col1" class="data row4 col1" >1398</td>
      <td id="T_73aef_row4_col2" class="data row4 col2" >2.75</td>
    </tr>
    <tr>
      <td id="T_73aef_row5_col0" class="data row5 col0" >Andrena flavipes</td>
      <td id="T_73aef_row5_col1" class="data row5 col1" >1206</td>
      <td id="T_73aef_row5_col2" class="data row5 col2" >2.38</td>
    </tr>
    <tr>
      <td id="T_73aef_row6_col0" class="data row6 col0" >Osmia cornuta</td>
      <td id="T_73aef_row6_col1" class="data row6 col1" >1196</td>
      <td id="T_73aef_row6_col2" class="data row6 col2" >2.36</td>
    </tr>
    <tr>
      <td id="T_73aef_row7_col0" class="data row7 col0" >Bombus pratorum</td>
      <td id="T_73aef_row7_col1" class="data row7 col1" >1174</td>
      <td id="T_73aef_row7_col2" class="data row7 col2" >2.31</td>
    </tr>
    <tr>
      <td id="T_73aef_row8_col0" class="data row8 col0" >Polistes dominula</td>
      <td id="T_73aef_row8_col1" class="data row8 col1" >935</td>
      <td id="T_73aef_row8_col2" class="data row8 col2" >1.84</td>
    </tr>
    <tr>
      <td id="T_73aef_row9_col0" class="data row9 col0" >Bombus hypnorum</td>
      <td id="T_73aef_row9_col1" class="data row9 col1" >826</td>
      <td id="T_73aef_row9_col2" class="data row9 col2" >1.63</td>
    </tr>
    <tr>
      <td id="T_73aef_row10_col0" class="data row10 col0" >Andrena vaga</td>
      <td id="T_73aef_row10_col1" class="data row10 col1" >721</td>
      <td id="T_73aef_row10_col2" class="data row10 col2" >1.42</td>
    </tr>
    <tr>
      <td id="T_73aef_row11_col0" class="data row11 col0" >Bombus terrestris</td>
      <td id="T_73aef_row11_col1" class="data row11 col1" >708</td>
      <td id="T_73aef_row11_col2" class="data row11 col2" >1.39</td>
    </tr>
    <tr>
      <td id="T_73aef_row12_col0" class="data row12 col0" >Anthophora plumipes</td>
      <td id="T_73aef_row12_col1" class="data row12 col1" >705</td>
      <td id="T_73aef_row12_col2" class="data row12 col2" >1.39</td>
    </tr>
    <tr>
      <td id="T_73aef_row13_col0" class="data row13 col0" >Osmia bicornis</td>
      <td id="T_73aef_row13_col1" class="data row13 col1" >626</td>
      <td id="T_73aef_row13_col2" class="data row13 col2" >1.23</td>
    </tr>
    <tr>
      <td id="T_73aef_row14_col0" class="data row14 col0" >Andrena fulva</td>
      <td id="T_73aef_row14_col1" class="data row14 col1" >604</td>
      <td id="T_73aef_row14_col2" class="data row14 col2" >1.19</td>
    </tr>
    <tr>
      <td id="T_73aef_row15_col0" class="data row15 col0" >Andrena haemorrhoa</td>
      <td id="T_73aef_row15_col1" class="data row15 col1" >601</td>
      <td id="T_73aef_row15_col2" class="data row15 col2" >1.18</td>
    </tr>
    <tr>
      <td id="T_73aef_row16_col0" class="data row16 col0" >Colletes hederae</td>
      <td id="T_73aef_row16_col1" class="data row16 col1" >538</td>
      <td id="T_73aef_row16_col2" class="data row16 col2" >1.06</td>
    </tr>
    <tr>
      <td id="T_73aef_row17_col0" class="data row17 col0" >Halictus scabiosae</td>
      <td id="T_73aef_row17_col1" class="data row17 col1" >535</td>
      <td id="T_73aef_row17_col2" class="data row17 col2" >1.05</td>
    </tr>
    <tr>
      <td id="T_73aef_row18_col0" class="data row18 col0" >Heriades truncorum</td>
      <td id="T_73aef_row18_col1" class="data row18 col1" >526</td>
      <td id="T_73aef_row18_col2" class="data row18 col2" >1.04</td>
    </tr>
    <tr>
      <td id="T_73aef_row19_col0" class="data row19 col0" >Vespula vulgaris</td>
      <td id="T_73aef_row19_col1" class="data row19 col1" >503</td>
      <td id="T_73aef_row19_col2" class="data row19 col2" >0.99</td>
    </tr>
  </tbody>
</table>
