<style type="text/css">
#T_5eb5d tr:hover {
  background: #f4f4f4;
}
#T_5eb5d th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: #00cccc;
  text-transform: uppercase;
  font-size: 18px;
}
#T_5eb5d td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_5eb5d table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_5eb5d caption {
  caption-side: top;
}
</style>
<table id="T_5eb5d">
  <caption>Frequencies of the different famillies for Mammals</caption>
  <thead>
    <tr>
      <th id="T_5eb5d_level0_col0" class="col_heading level0 col0" >familly</th>
      <th id="T_5eb5d_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_5eb5d_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_5eb5d_row0_col0" class="data row0 col0" >Vespertilionidae</td>
      <td id="T_5eb5d_row0_col1" class="data row0 col1" >10137</td>
      <td id="T_5eb5d_row0_col2" class="data row0 col2" >21.61</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row1_col0" class="data row1 col0" >Sciuridae</td>
      <td id="T_5eb5d_row1_col1" class="data row1 col1" >8120</td>
      <td id="T_5eb5d_row1_col2" class="data row1 col2" >17.31</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row2_col0" class="data row2 col0" >Canidae</td>
      <td id="T_5eb5d_row2_col1" class="data row2 col1" >7026</td>
      <td id="T_5eb5d_row2_col2" class="data row2 col2" >14.98</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row3_col0" class="data row3 col0" >Leporidae</td>
      <td id="T_5eb5d_row3_col1" class="data row3 col1" >5207</td>
      <td id="T_5eb5d_row3_col2" class="data row3 col2" >11.10</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row4_col0" class="data row4 col0" >Talpidae</td>
      <td id="T_5eb5d_row4_col1" class="data row4 col1" >4015</td>
      <td id="T_5eb5d_row4_col2" class="data row4 col2" >8.56</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row5_col0" class="data row5 col0" >Cervidae</td>
      <td id="T_5eb5d_row5_col1" class="data row5 col1" >3737</td>
      <td id="T_5eb5d_row5_col2" class="data row5 col2" >7.97</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row6_col0" class="data row6 col0" >Muridae</td>
      <td id="T_5eb5d_row6_col1" class="data row6 col1" >2101</td>
      <td id="T_5eb5d_row6_col2" class="data row6 col2" >4.48</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row7_col0" class="data row7 col0" >Mustelidae</td>
      <td id="T_5eb5d_row7_col1" class="data row7 col1" >1984</td>
      <td id="T_5eb5d_row7_col2" class="data row7 col2" >4.23</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row8_col0" class="data row8 col0" >Erinaceidae</td>
      <td id="T_5eb5d_row8_col1" class="data row8 col1" >1825</td>
      <td id="T_5eb5d_row8_col2" class="data row8 col2" >3.89</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row9_col0" class="data row9 col0" >Cricetidae</td>
      <td id="T_5eb5d_row9_col1" class="data row9 col1" >918</td>
      <td id="T_5eb5d_row9_col2" class="data row9 col2" >1.96</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row10_col0" class="data row10 col0" >onbekend</td>
      <td id="T_5eb5d_row10_col1" class="data row10 col1" >433</td>
      <td id="T_5eb5d_row10_col2" class="data row10 col2" >0.92</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row11_col0" class="data row11 col0" >Felidae</td>
      <td id="T_5eb5d_row11_col1" class="data row11 col1" >395</td>
      <td id="T_5eb5d_row11_col2" class="data row11 col2" >0.84</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row12_col0" class="data row12 col0" >Soricidae</td>
      <td id="T_5eb5d_row12_col1" class="data row12 col1" >352</td>
      <td id="T_5eb5d_row12_col2" class="data row12 col2" >0.75</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row13_col0" class="data row13 col0" >Castoridae</td>
      <td id="T_5eb5d_row13_col1" class="data row13 col1" >240</td>
      <td id="T_5eb5d_row13_col2" class="data row13 col2" >0.51</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row14_col0" class="data row14 col0" >Suidae</td>
      <td id="T_5eb5d_row14_col1" class="data row14 col1" >204</td>
      <td id="T_5eb5d_row14_col2" class="data row14 col2" >0.43</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row15_col0" class="data row15 col0" >Gliridae</td>
      <td id="T_5eb5d_row15_col1" class="data row15 col1" >104</td>
      <td id="T_5eb5d_row15_col2" class="data row15 col2" >0.22</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row16_col0" class="data row16 col0" >MAMMALIA</td>
      <td id="T_5eb5d_row16_col1" class="data row16 col1" >83</td>
      <td id="T_5eb5d_row16_col2" class="data row16 col2" >0.18</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row17_col0" class="data row17 col0" >Procyonidae</td>
      <td id="T_5eb5d_row17_col1" class="data row17 col1" >20</td>
      <td id="T_5eb5d_row17_col2" class="data row17 col2" >0.04</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row18_col0" class="data row18 col0" >Phocidae</td>
      <td id="T_5eb5d_row18_col1" class="data row18 col1" >1</td>
      <td id="T_5eb5d_row18_col2" class="data row18 col2" >0.00</td>
    </tr>
    <tr>
      <td id="T_5eb5d_row19_col0" class="data row19 col0" >Elephantidae</td>
      <td id="T_5eb5d_row19_col1" class="data row19 col1" >1</td>
      <td id="T_5eb5d_row19_col2" class="data row19 col2" >0.00</td>
    </tr>
  </tbody>
</table>
