<style type="text/css">
#T_30322 tr:hover {
  background: #f4f4f4;
}
#T_30322 th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: black;
  font-size: 18px;
}
#T_30322 td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_30322 table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_30322 caption {
  caption-side: top;
}
</style>
<table id="T_30322">
  <caption>Top 20 most observed species of Insects (other)</caption>
  <thead>
    <tr>
      <th id="T_30322_level0_col0" class="col_heading level0 col0" >species</th>
      <th id="T_30322_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_30322_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_30322_row0_col0" class="data row0 col0" >Panorpa germanica</td>
      <td id="T_30322_row0_col1" class="data row0 col1" >434</td>
      <td id="T_30322_row0_col2" class="data row0 col2" >9.95</td>
    </tr>
    <tr>
      <td id="T_30322_row1_col0" class="data row1 col0" >Chrysoperla carnea s.l.</td>
      <td id="T_30322_row1_col1" class="data row1 col1" >391</td>
      <td id="T_30322_row1_col2" class="data row1 col2" >8.97</td>
    </tr>
    <tr>
      <td id="T_30322_row2_col0" class="data row2 col0" >Forficula auricularia</td>
      <td id="T_30322_row2_col1" class="data row2 col1" >314</td>
      <td id="T_30322_row2_col2" class="data row2 col2" >7.20</td>
    </tr>
    <tr>
      <td id="T_30322_row3_col0" class="data row3 col0" >Panorpa vulgaris</td>
      <td id="T_30322_row3_col1" class="data row3 col1" >240</td>
      <td id="T_30322_row3_col2" class="data row3 col2" >5.50</td>
    </tr>
    <tr>
      <td id="T_30322_row4_col0" class="data row4 col0" >Cloeon dipterum</td>
      <td id="T_30322_row4_col1" class="data row4 col1" >172</td>
      <td id="T_30322_row4_col2" class="data row4 col2" >3.94</td>
    </tr>
    <tr>
      <td id="T_30322_row5_col0" class="data row5 col0" >Panorpa communis</td>
      <td id="T_30322_row5_col1" class="data row5 col1" >149</td>
      <td id="T_30322_row5_col2" class="data row5 col2" >3.42</td>
    </tr>
    <tr>
      <td id="T_30322_row6_col0" class="data row6 col0" >Tinodes waeneri</td>
      <td id="T_30322_row6_col1" class="data row6 col1" >118</td>
      <td id="T_30322_row6_col2" class="data row6 col2" >2.71</td>
    </tr>
    <tr>
      <td id="T_30322_row7_col0" class="data row7 col0" >Mystacides longicornis</td>
      <td id="T_30322_row7_col1" class="data row7 col1" >114</td>
      <td id="T_30322_row7_col2" class="data row7 col2" >2.61</td>
    </tr>
    <tr>
      <td id="T_30322_row8_col0" class="data row8 col0" >Glyphotaelius pellucidus</td>
      <td id="T_30322_row8_col1" class="data row8 col1" >100</td>
      <td id="T_30322_row8_col2" class="data row8 col2" >2.29</td>
    </tr>
    <tr>
      <td id="T_30322_row9_col0" class="data row9 col0" >Limnephilus lunatus</td>
      <td id="T_30322_row9_col1" class="data row9 col1" >91</td>
      <td id="T_30322_row9_col2" class="data row9 col2" >2.09</td>
    </tr>
    <tr>
      <td id="T_30322_row10_col0" class="data row10 col0" >Planuncus tingitanus s.l.</td>
      <td id="T_30322_row10_col1" class="data row10 col1" >81</td>
      <td id="T_30322_row10_col2" class="data row10 col2" >1.86</td>
    </tr>
    <tr>
      <td id="T_30322_row11_col0" class="data row11 col0" >Lepisma saccharina</td>
      <td id="T_30322_row11_col1" class="data row11 col1" >81</td>
      <td id="T_30322_row11_col2" class="data row11 col2" >1.86</td>
    </tr>
    <tr>
      <td id="T_30322_row12_col0" class="data row12 col0" >Leptocerus tineiformis</td>
      <td id="T_30322_row12_col1" class="data row12 col1" >80</td>
      <td id="T_30322_row12_col2" class="data row12 col2" >1.83</td>
    </tr>
    <tr>
      <td id="T_30322_row13_col0" class="data row13 col0" >Sialis cf. lutaria</td>
      <td id="T_30322_row13_col1" class="data row13 col1" >67</td>
      <td id="T_30322_row13_col2" class="data row13 col2" >1.54</td>
    </tr>
    <tr>
      <td id="T_30322_row14_col0" class="data row14 col0" >Sialis lutaria</td>
      <td id="T_30322_row14_col1" class="data row14 col1" >66</td>
      <td id="T_30322_row14_col2" class="data row14 col2" >1.51</td>
    </tr>
    <tr>
      <td id="T_30322_row15_col0" class="data row15 col0" >Insecta indet.</td>
      <td id="T_30322_row15_col1" class="data row15 col1" >65</td>
      <td id="T_30322_row15_col2" class="data row15 col2" >1.49</td>
    </tr>
    <tr>
      <td id="T_30322_row16_col0" class="data row16 col0" >Coniopterygidae indet.</td>
      <td id="T_30322_row16_col1" class="data row16 col1" >62</td>
      <td id="T_30322_row16_col2" class="data row16 col2" >1.42</td>
    </tr>
    <tr>
      <td id="T_30322_row17_col0" class="data row17 col0" >Limnephilus auricula</td>
      <td id="T_30322_row17_col1" class="data row17 col1" >60</td>
      <td id="T_30322_row17_col2" class="data row17 col2" >1.38</td>
    </tr>
    <tr>
      <td id="T_30322_row18_col0" class="data row18 col0" >Stenophylax permistus</td>
      <td id="T_30322_row18_col1" class="data row18 col1" >59</td>
      <td id="T_30322_row18_col2" class="data row18 col2" >1.35</td>
    </tr>
    <tr>
      <td id="T_30322_row19_col0" class="data row19 col0" >Graphopsocus cruciatus</td>
      <td id="T_30322_row19_col1" class="data row19 col1" >59</td>
      <td id="T_30322_row19_col2" class="data row19 col2" >1.35</td>
    </tr>
  </tbody>
</table>
