<style type="text/css">
#T_a607a tr:hover {
  background: #f4f4f4;
}
#T_a607a th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: black;
  font-size: 18px;
}
#T_a607a td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_a607a table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_a607a caption {
  caption-side: top;
}
</style>
<table id="T_a607a">
  <caption>Top 20 most observed species of Bugs and leafhoppers</caption>
  <thead>
    <tr>
      <th id="T_a607a_level0_col0" class="col_heading level0 col0" >species</th>
      <th id="T_a607a_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_a607a_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_a607a_row0_col0" class="data row0 col0" >Pyrrhocoris apterus</td>
      <td id="T_a607a_row0_col1" class="data row0 col1" >1498</td>
      <td id="T_a607a_row0_col2" class="data row0 col2" >7.67</td>
    </tr>
    <tr>
      <td id="T_a607a_row1_col0" class="data row1 col0" >Palomena prasina</td>
      <td id="T_a607a_row1_col1" class="data row1 col1" >1379</td>
      <td id="T_a607a_row1_col2" class="data row1 col2" >7.06</td>
    </tr>
    <tr>
      <td id="T_a607a_row2_col0" class="data row2 col0" >Coreus marginatus</td>
      <td id="T_a607a_row2_col1" class="data row2 col1" >1127</td>
      <td id="T_a607a_row2_col2" class="data row2 col2" >5.77</td>
    </tr>
    <tr>
      <td id="T_a607a_row3_col0" class="data row3 col0" >Rhaphigaster nebulosa</td>
      <td id="T_a607a_row3_col1" class="data row3 col1" >810</td>
      <td id="T_a607a_row3_col2" class="data row3 col2" >4.15</td>
    </tr>
    <tr>
      <td id="T_a607a_row4_col0" class="data row4 col0" >Graphosoma italicum</td>
      <td id="T_a607a_row4_col1" class="data row4 col1" >693</td>
      <td id="T_a607a_row4_col2" class="data row4 col2" >3.55</td>
    </tr>
    <tr>
      <td id="T_a607a_row5_col0" class="data row5 col0" >Dolycoris baccarum</td>
      <td id="T_a607a_row5_col1" class="data row5 col1" >478</td>
      <td id="T_a607a_row5_col2" class="data row5 col2" >2.45</td>
    </tr>
    <tr>
      <td id="T_a607a_row6_col0" class="data row6 col0" >Pentatoma rufipes</td>
      <td id="T_a607a_row6_col1" class="data row6 col1" >443</td>
      <td id="T_a607a_row6_col2" class="data row6 col2" >2.27</td>
    </tr>
    <tr>
      <td id="T_a607a_row7_col0" class="data row7 col0" >Deraeocoris ruber</td>
      <td id="T_a607a_row7_col1" class="data row7 col1" >439</td>
      <td id="T_a607a_row7_col2" class="data row7 col2" >2.25</td>
    </tr>
    <tr>
      <td id="T_a607a_row8_col0" class="data row8 col0" >Nezara viridula</td>
      <td id="T_a607a_row8_col1" class="data row8 col1" >373</td>
      <td id="T_a607a_row8_col2" class="data row8 col2" >1.91</td>
    </tr>
    <tr>
      <td id="T_a607a_row9_col0" class="data row9 col0" >Issus coleoptratus</td>
      <td id="T_a607a_row9_col1" class="data row9 col1" >318</td>
      <td id="T_a607a_row9_col2" class="data row9 col2" >1.63</td>
    </tr>
    <tr>
      <td id="T_a607a_row10_col0" class="data row10 col0" >Rhyparochromus vulgaris</td>
      <td id="T_a607a_row10_col1" class="data row10 col1" >312</td>
      <td id="T_a607a_row10_col2" class="data row10 col2" >1.60</td>
    </tr>
    <tr>
      <td id="T_a607a_row11_col0" class="data row11 col0" >Leptoglossus occidentalis</td>
      <td id="T_a607a_row11_col1" class="data row11 col1" >285</td>
      <td id="T_a607a_row11_col2" class="data row11 col2" >1.46</td>
    </tr>
    <tr>
      <td id="T_a607a_row12_col0" class="data row12 col0" >Cercopis vulnerata</td>
      <td id="T_a607a_row12_col1" class="data row12 col1" >278</td>
      <td id="T_a607a_row12_col2" class="data row12 col2" >1.42</td>
    </tr>
    <tr>
      <td id="T_a607a_row13_col0" class="data row13 col0" >Liocoris tripustulatus</td>
      <td id="T_a607a_row13_col1" class="data row13 col1" >275</td>
      <td id="T_a607a_row13_col2" class="data row13 col2" >1.41</td>
    </tr>
    <tr>
      <td id="T_a607a_row14_col0" class="data row14 col0" >Eurydema oleracea</td>
      <td id="T_a607a_row14_col1" class="data row14 col1" >267</td>
      <td id="T_a607a_row14_col2" class="data row14 col2" >1.37</td>
    </tr>
    <tr>
      <td id="T_a607a_row15_col0" class="data row15 col0" >Gonocerus acuteangulatus</td>
      <td id="T_a607a_row15_col1" class="data row15 col1" >259</td>
      <td id="T_a607a_row15_col2" class="data row15 col2" >1.33</td>
    </tr>
    <tr>
      <td id="T_a607a_row16_col0" class="data row16 col0" >Kleidocerys resedae</td>
      <td id="T_a607a_row16_col1" class="data row16 col1" >256</td>
      <td id="T_a607a_row16_col2" class="data row16 col2" >1.31</td>
    </tr>
    <tr>
      <td id="T_a607a_row17_col0" class="data row17 col0" >Rhopalus subrufus</td>
      <td id="T_a607a_row17_col1" class="data row17 col1" >203</td>
      <td id="T_a607a_row17_col2" class="data row17 col2" >1.04</td>
    </tr>
    <tr>
      <td id="T_a607a_row18_col0" class="data row18 col0" >Corizus hyoscyami</td>
      <td id="T_a607a_row18_col1" class="data row18 col1" >203</td>
      <td id="T_a607a_row18_col2" class="data row18 col2" >1.04</td>
    </tr>
    <tr>
      <td id="T_a607a_row19_col0" class="data row19 col0" >Aphidoidea indet.</td>
      <td id="T_a607a_row19_col1" class="data row19 col1" >197</td>
      <td id="T_a607a_row19_col2" class="data row19 col2" >1.01</td>
    </tr>
  </tbody>
</table>
