<style type="text/css">
#T_a7396 tr:hover {
  background: #f4f4f4;
}
#T_a7396 th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: #00cccc;
  text-transform: uppercase;
  font-size: 18px;
}
#T_a7396 td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_a7396 table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_a7396 caption {
  caption-side: top;
}
</style>
<table id="T_a7396">
  <caption>Top 20 most observed species of Mammals</caption>
  <thead>
    <tr>
      <th id="T_a7396_level0_col0" class="col_heading level0 col0" >species</th>
      <th id="T_a7396_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_a7396_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_a7396_row0_col0" class="data row0 col0" >Vulpes vulpes</td>
      <td id="T_a7396_row0_col1" class="data row0 col1" >7025</td>
      <td id="T_a7396_row0_col2" class="data row0 col2" >14.98</td>
    </tr>
    <tr>
      <td id="T_a7396_row1_col0" class="data row1 col0" >Pipistrellus pipistrellus</td>
      <td id="T_a7396_row1_col1" class="data row1 col1" >6706</td>
      <td id="T_a7396_row1_col2" class="data row1 col2" >14.30</td>
    </tr>
    <tr>
      <td id="T_a7396_row2_col0" class="data row2 col0" >Sciurus vulgaris</td>
      <td id="T_a7396_row2_col1" class="data row2 col1" >6629</td>
      <td id="T_a7396_row2_col2" class="data row2 col2" >14.13</td>
    </tr>
    <tr>
      <td id="T_a7396_row3_col0" class="data row3 col0" >Talpa europaea</td>
      <td id="T_a7396_row3_col1" class="data row3 col1" >4015</td>
      <td id="T_a7396_row3_col2" class="data row3 col2" >8.56</td>
    </tr>
    <tr>
      <td id="T_a7396_row4_col0" class="data row4 col0" >Capreolus capreolus</td>
      <td id="T_a7396_row4_col1" class="data row4 col1" >3681</td>
      <td id="T_a7396_row4_col2" class="data row4 col2" >7.85</td>
    </tr>
    <tr>
      <td id="T_a7396_row5_col0" class="data row5 col0" >Oryctolagus cuniculus</td>
      <td id="T_a7396_row5_col1" class="data row5 col1" >3047</td>
      <td id="T_a7396_row5_col2" class="data row5 col2" >6.50</td>
    </tr>
    <tr>
      <td id="T_a7396_row6_col0" class="data row6 col0" >Lepus europaeus</td>
      <td id="T_a7396_row6_col1" class="data row6 col1" >2160</td>
      <td id="T_a7396_row6_col2" class="data row6 col2" >4.61</td>
    </tr>
    <tr>
      <td id="T_a7396_row7_col0" class="data row7 col0" >Erinaceus europaeus</td>
      <td id="T_a7396_row7_col1" class="data row7 col1" >1825</td>
      <td id="T_a7396_row7_col2" class="data row7 col2" >3.89</td>
    </tr>
    <tr>
      <td id="T_a7396_row8_col0" class="data row8 col0" >Eutamias sibiricus</td>
      <td id="T_a7396_row8_col1" class="data row8 col1" >1481</td>
      <td id="T_a7396_row8_col2" class="data row8 col2" >3.16</td>
    </tr>
    <tr>
      <td id="T_a7396_row9_col0" class="data row9 col0" >Pipistrellus nathusii</td>
      <td id="T_a7396_row9_col1" class="data row9 col1" >1268</td>
      <td id="T_a7396_row9_col2" class="data row9 col2" >2.70</td>
    </tr>
    <tr>
      <td id="T_a7396_row10_col0" class="data row10 col0" >Martes foina</td>
      <td id="T_a7396_row10_col1" class="data row10 col1" >1080</td>
      <td id="T_a7396_row10_col2" class="data row10 col2" >2.30</td>
    </tr>
    <tr>
      <td id="T_a7396_row11_col0" class="data row11 col0" >Rattus norvegicus</td>
      <td id="T_a7396_row11_col1" class="data row11 col1" >924</td>
      <td id="T_a7396_row11_col2" class="data row11 col2" >1.97</td>
    </tr>
    <tr>
      <td id="T_a7396_row12_col0" class="data row12 col0" >Apodemus sylvaticus</td>
      <td id="T_a7396_row12_col1" class="data row12 col1" >805</td>
      <td id="T_a7396_row12_col2" class="data row12 col2" >1.72</td>
    </tr>
    <tr>
      <td id="T_a7396_row13_col0" class="data row13 col0" >Myodes glareolus</td>
      <td id="T_a7396_row13_col1" class="data row13 col1" >615</td>
      <td id="T_a7396_row13_col2" class="data row13 col2" >1.31</td>
    </tr>
    <tr>
      <td id="T_a7396_row14_col0" class="data row14 col0" >Nyctalus noctula</td>
      <td id="T_a7396_row14_col1" class="data row14 col1" >593</td>
      <td id="T_a7396_row14_col2" class="data row14 col2" >1.26</td>
    </tr>
    <tr>
      <td id="T_a7396_row15_col0" class="data row15 col0" >Meles meles</td>
      <td id="T_a7396_row15_col1" class="data row15 col1" >441</td>
      <td id="T_a7396_row15_col2" class="data row15 col2" >0.94</td>
    </tr>
    <tr>
      <td id="T_a7396_row16_col0" class="data row16 col0" >Chiroptera spec.</td>
      <td id="T_a7396_row16_col1" class="data row16 col1" >428</td>
      <td id="T_a7396_row16_col2" class="data row16 col2" >0.91</td>
    </tr>
    <tr>
      <td id="T_a7396_row17_col0" class="data row17 col0" >Felis catus</td>
      <td id="T_a7396_row17_col1" class="data row17 col1" >395</td>
      <td id="T_a7396_row17_col2" class="data row17 col2" >0.84</td>
    </tr>
    <tr>
      <td id="T_a7396_row18_col0" class="data row18 col0" >Eptesicus serotinus</td>
      <td id="T_a7396_row18_col1" class="data row18 col1" >280</td>
      <td id="T_a7396_row18_col2" class="data row18 col2" >0.60</td>
    </tr>
    <tr>
      <td id="T_a7396_row19_col0" class="data row19 col0" >Castor fiber</td>
      <td id="T_a7396_row19_col1" class="data row19 col1" >240</td>
      <td id="T_a7396_row19_col2" class="data row19 col2" >0.51</td>
    </tr>
  </tbody>
</table>
