<style type="text/css">
#T_dc23c tr:hover {
  background: #f4f4f4;
}
#T_dc23c th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: black;
  font-size: 18px;
}
#T_dc23c td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_dc23c table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_dc23c caption {
  caption-side: top;
}
</style>
<table id="T_dc23c">
  <caption>Frequencies of the different famillies for Moths and microbes</caption>
  <thead>
    <tr>
      <th id="T_dc23c_level0_col0" class="col_heading level0 col0" >familly</th>
      <th id="T_dc23c_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_dc23c_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_dc23c_row0_col0" class="data row0 col0" >Noctuidae</td>
      <td id="T_dc23c_row0_col1" class="data row0 col1" >48652</td>
      <td id="T_dc23c_row0_col2" class="data row0 col2" >32.27</td>
    </tr>
    <tr>
      <td id="T_dc23c_row1_col0" class="data row1 col0" >Geometridae</td>
      <td id="T_dc23c_row1_col1" class="data row1 col1" >33975</td>
      <td id="T_dc23c_row1_col2" class="data row1 col2" >22.54</td>
    </tr>
    <tr>
      <td id="T_dc23c_row2_col0" class="data row2 col0" >Erebidae</td>
      <td id="T_dc23c_row2_col1" class="data row2 col1" >15729</td>
      <td id="T_dc23c_row2_col2" class="data row2 col2" >10.43</td>
    </tr>
    <tr>
      <td id="T_dc23c_row3_col0" class="data row3 col0" >Crambidae</td>
      <td id="T_dc23c_row3_col1" class="data row3 col1" >11885</td>
      <td id="T_dc23c_row3_col2" class="data row3 col2" >7.88</td>
    </tr>
    <tr>
      <td id="T_dc23c_row4_col0" class="data row4 col0" >Tortricidae</td>
      <td id="T_dc23c_row4_col1" class="data row4 col1" >9886</td>
      <td id="T_dc23c_row4_col2" class="data row4 col2" >6.56</td>
    </tr>
    <tr>
      <td id="T_dc23c_row5_col0" class="data row5 col0" >Pyralidae</td>
      <td id="T_dc23c_row5_col1" class="data row5 col1" >4051</td>
      <td id="T_dc23c_row5_col2" class="data row5 col2" >2.69</td>
    </tr>
    <tr>
      <td id="T_dc23c_row6_col0" class="data row6 col0" >Notodontidae</td>
      <td id="T_dc23c_row6_col1" class="data row6 col1" >3511</td>
      <td id="T_dc23c_row6_col2" class="data row6 col2" >2.33</td>
    </tr>
    <tr>
      <td id="T_dc23c_row7_col0" class="data row7 col0" >Drepanidae</td>
      <td id="T_dc23c_row7_col1" class="data row7 col1" >2685</td>
      <td id="T_dc23c_row7_col2" class="data row7 col2" >1.78</td>
    </tr>
    <tr>
      <td id="T_dc23c_row8_col0" class="data row8 col0" >Sphingidae</td>
      <td id="T_dc23c_row8_col1" class="data row8 col1" >2629</td>
      <td id="T_dc23c_row8_col2" class="data row8 col2" >1.74</td>
    </tr>
    <tr>
      <td id="T_dc23c_row9_col0" class="data row9 col0" >Yponomeutidae</td>
      <td id="T_dc23c_row9_col1" class="data row9 col1" >1386</td>
      <td id="T_dc23c_row9_col2" class="data row9 col2" >0.92</td>
    </tr>
    <tr>
      <td id="T_dc23c_row10_col0" class="data row10 col0" >Oecophoridae</td>
      <td id="T_dc23c_row10_col1" class="data row10 col1" >1367</td>
      <td id="T_dc23c_row10_col2" class="data row10 col2" >0.91</td>
    </tr>
    <tr>
      <td id="T_dc23c_row11_col0" class="data row11 col0" >Gelechiidae</td>
      <td id="T_dc23c_row11_col1" class="data row11 col1" >1220</td>
      <td id="T_dc23c_row11_col2" class="data row11 col2" >0.81</td>
    </tr>
    <tr>
      <td id="T_dc23c_row12_col0" class="data row12 col0" >Lasiocampidae</td>
      <td id="T_dc23c_row12_col1" class="data row12 col1" >1197</td>
      <td id="T_dc23c_row12_col2" class="data row12 col2" >0.79</td>
    </tr>
    <tr>
      <td id="T_dc23c_row13_col0" class="data row13 col0" >Gracillariidae</td>
      <td id="T_dc23c_row13_col1" class="data row13 col1" >1180</td>
      <td id="T_dc23c_row13_col2" class="data row13 col2" >0.78</td>
    </tr>
    <tr>
      <td id="T_dc23c_row14_col0" class="data row14 col0" >Nolidae</td>
      <td id="T_dc23c_row14_col1" class="data row14 col1" >1161</td>
      <td id="T_dc23c_row14_col2" class="data row14 col2" >0.77</td>
    </tr>
    <tr>
      <td id="T_dc23c_row15_col0" class="data row15 col0" >Pterophoridae</td>
      <td id="T_dc23c_row15_col1" class="data row15 col1" >1034</td>
      <td id="T_dc23c_row15_col2" class="data row15 col2" >0.69</td>
    </tr>
    <tr>
      <td id="T_dc23c_row16_col0" class="data row16 col0" >Adelidae</td>
      <td id="T_dc23c_row16_col1" class="data row16 col1" >1007</td>
      <td id="T_dc23c_row16_col2" class="data row16 col2" >0.67</td>
    </tr>
    <tr>
      <td id="T_dc23c_row17_col0" class="data row17 col0" >Plutellidae</td>
      <td id="T_dc23c_row17_col1" class="data row17 col1" >584</td>
      <td id="T_dc23c_row17_col2" class="data row17 col2" >0.39</td>
    </tr>
    <tr>
      <td id="T_dc23c_row18_col0" class="data row18 col0" >Hepialidae</td>
      <td id="T_dc23c_row18_col1" class="data row18 col1" >524</td>
      <td id="T_dc23c_row18_col2" class="data row18 col2" >0.35</td>
    </tr>
    <tr>
      <td id="T_dc23c_row19_col0" class="data row19 col0" >Nepticulidae</td>
      <td id="T_dc23c_row19_col1" class="data row19 col1" >475</td>
      <td id="T_dc23c_row19_col2" class="data row19 col2" >0.32</td>
    </tr>
  </tbody>
</table>
