<style type="text/css">
#T_0a519 tr:hover {
  background: #f4f4f4;
}
#T_0a519 th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: black;
  font-size: 18px;
}
#T_0a519 td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_0a519 table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_0a519 caption {
  caption-side: top;
}
</style>
<table id="T_0a519">
  <caption>Frequencies of the different famillies for Other invertebrates</caption>
  <thead>
    <tr>
      <th id="T_0a519_level0_col0" class="col_heading level0 col0" >familly</th>
      <th id="T_0a519_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_0a519_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_0a519_row0_col0" class="data row0 col0" >Lumbricidae</td>
      <td id="T_0a519_row0_col1" class="data row0 col1" >171</td>
      <td id="T_0a519_row0_col2" class="data row0 col2" >57.97</td>
    </tr>
    <tr>
      <td id="T_0a519_row1_col0" class="data row1 col0" >Hirudinea</td>
      <td id="T_0a519_row1_col1" class="data row1 col1" >20</td>
      <td id="T_0a519_row1_col2" class="data row1 col2" >6.78</td>
    </tr>
    <tr>
      <td id="T_0a519_row2_col0" class="data row2 col0" >Haemopidae</td>
      <td id="T_0a519_row2_col1" class="data row2 col1" >17</td>
      <td id="T_0a519_row2_col2" class="data row2 col2" >5.76</td>
    </tr>
    <tr>
      <td id="T_0a519_row3_col0" class="data row3 col0" >Geoplanidae</td>
      <td id="T_0a519_row3_col1" class="data row3 col1" >14</td>
      <td id="T_0a519_row3_col2" class="data row3 col2" >4.75</td>
    </tr>
    <tr>
      <td id="T_0a519_row4_col0" class="data row4 col0" >Spongillidae</td>
      <td id="T_0a519_row4_col1" class="data row4 col1" >12</td>
      <td id="T_0a519_row4_col2" class="data row4 col2" >4.07</td>
    </tr>
    <tr>
      <td id="T_0a519_row5_col0" class="data row5 col0" >Erpobdellidae</td>
      <td id="T_0a519_row5_col1" class="data row5 col1" >11</td>
      <td id="T_0a519_row5_col2" class="data row5 col2" >3.73</td>
    </tr>
    <tr>
      <td id="T_0a519_row6_col0" class="data row6 col0" >Enchytraeidae</td>
      <td id="T_0a519_row6_col1" class="data row6 col1" >11</td>
      <td id="T_0a519_row6_col2" class="data row6 col2" >3.73</td>
    </tr>
    <tr>
      <td id="T_0a519_row7_col0" class="data row7 col0" >Glossiphoniidae</td>
      <td id="T_0a519_row7_col1" class="data row7 col1" >6</td>
      <td id="T_0a519_row7_col2" class="data row7 col2" >2.03</td>
    </tr>
    <tr>
      <td id="T_0a519_row8_col0" class="data row8 col0" >Mermithidae</td>
      <td id="T_0a519_row8_col1" class="data row8 col1" >5</td>
      <td id="T_0a519_row8_col2" class="data row8 col2" >1.69</td>
    </tr>
    <tr>
      <td id="T_0a519_row9_col0" class="data row9 col0" >Piscicolidae </td>
      <td id="T_0a519_row9_col1" class="data row9 col1" >4</td>
      <td id="T_0a519_row9_col2" class="data row9 col2" >1.36</td>
    </tr>
    <tr>
      <td id="T_0a519_row10_col0" class="data row10 col0" >Dugesiidae</td>
      <td id="T_0a519_row10_col1" class="data row10 col1" >4</td>
      <td id="T_0a519_row10_col2" class="data row10 col2" >1.36</td>
    </tr>
    <tr>
      <td id="T_0a519_row11_col0" class="data row11 col0" >Leucochloridiidae</td>
      <td id="T_0a519_row11_col1" class="data row11 col1" >4</td>
      <td id="T_0a519_row11_col2" class="data row11 col2" >1.36</td>
    </tr>
    <tr>
      <td id="T_0a519_row12_col0" class="data row12 col0" >Soort</td>
      <td id="T_0a519_row12_col1" class="data row12 col1" >4</td>
      <td id="T_0a519_row12_col2" class="data row12 col2" >1.36</td>
    </tr>
    <tr>
      <td id="T_0a519_row13_col0" class="data row13 col0" >Dendrocoelidae</td>
      <td id="T_0a519_row13_col1" class="data row13 col1" >3</td>
      <td id="T_0a519_row13_col2" class="data row13 col2" >1.02</td>
    </tr>
    <tr>
      <td id="T_0a519_row14_col0" class="data row14 col0" >Rhizostomatidae</td>
      <td id="T_0a519_row14_col1" class="data row14 col1" >3</td>
      <td id="T_0a519_row14_col2" class="data row14 col2" >1.02</td>
    </tr>
    <tr>
      <td id="T_0a519_row15_col0" class="data row15 col0" >Tubificidae</td>
      <td id="T_0a519_row15_col1" class="data row15 col1" >2</td>
      <td id="T_0a519_row15_col2" class="data row15 col2" >0.68</td>
    </tr>
    <tr>
      <td id="T_0a519_row16_col0" class="data row16 col0" >Planariidae</td>
      <td id="T_0a519_row16_col1" class="data row16 col1" >2</td>
      <td id="T_0a519_row16_col2" class="data row16 col2" >0.68</td>
    </tr>
    <tr>
      <td id="T_0a519_row17_col0" class="data row17 col0" >Loveniidae</td>
      <td id="T_0a519_row17_col1" class="data row17 col1" >1</td>
      <td id="T_0a519_row17_col2" class="data row17 col2" >0.34</td>
    </tr>
    <tr>
      <td id="T_0a519_row18_col0" class="data row18 col0" >Ophiuridae</td>
      <td id="T_0a519_row18_col1" class="data row18 col1" >1</td>
      <td id="T_0a519_row18_col2" class="data row18 col2" >0.34</td>
    </tr>
  </tbody>
</table>
