<style type="text/css">
#T_ad928 tr:hover {
  background: #f4f4f4;
}
#T_ad928 th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: black;
  font-size: 18px;
}
#T_ad928 td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_ad928 table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_ad928 caption {
  caption-side: top;
}
</style>
<table id="T_ad928">
  <caption>Top 20 most observed species of Butterflies</caption>
  <thead>
    <tr>
      <th id="T_ad928_level0_col0" class="col_heading level0 col0" >species</th>
      <th id="T_ad928_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_ad928_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_ad928_row0_col0" class="data row0 col0" >Vanessa atalanta</td>
      <td id="T_ad928_row0_col1" class="data row0 col1" >10042</td>
      <td id="T_ad928_row0_col2" class="data row0 col2" >12.97</td>
    </tr>
    <tr>
      <td id="T_ad928_row1_col0" class="data row1 col0" >Aglais io</td>
      <td id="T_ad928_row1_col1" class="data row1 col1" >6875</td>
      <td id="T_ad928_row1_col2" class="data row1 col2" >8.88</td>
    </tr>
    <tr>
      <td id="T_ad928_row2_col0" class="data row2 col0" >Pararge aegeria</td>
      <td id="T_ad928_row2_col1" class="data row2 col1" >6097</td>
      <td id="T_ad928_row2_col2" class="data row2 col2" >7.88</td>
    </tr>
    <tr>
      <td id="T_ad928_row3_col0" class="data row3 col0" >Pieris rapae</td>
      <td id="T_ad928_row3_col1" class="data row3 col1" >5903</td>
      <td id="T_ad928_row3_col2" class="data row3 col2" >7.63</td>
    </tr>
    <tr>
      <td id="T_ad928_row4_col0" class="data row4 col0" >Polygonia c-album</td>
      <td id="T_ad928_row4_col1" class="data row4 col1" >5517</td>
      <td id="T_ad928_row4_col2" class="data row4 col2" >7.13</td>
    </tr>
    <tr>
      <td id="T_ad928_row5_col0" class="data row5 col0" >Maniola jurtina</td>
      <td id="T_ad928_row5_col1" class="data row5 col1" >5281</td>
      <td id="T_ad928_row5_col2" class="data row5 col2" >6.82</td>
    </tr>
    <tr>
      <td id="T_ad928_row6_col0" class="data row6 col0" >Polyommatus icarus</td>
      <td id="T_ad928_row6_col1" class="data row6 col1" >3883</td>
      <td id="T_ad928_row6_col2" class="data row6 col2" >5.02</td>
    </tr>
    <tr>
      <td id="T_ad928_row7_col0" class="data row7 col0" >Celastrina argiolus</td>
      <td id="T_ad928_row7_col1" class="data row7 col1" >3161</td>
      <td id="T_ad928_row7_col2" class="data row7 col2" >4.08</td>
    </tr>
    <tr>
      <td id="T_ad928_row8_col0" class="data row8 col0" >Pieris napi</td>
      <td id="T_ad928_row8_col1" class="data row8 col1" >2535</td>
      <td id="T_ad928_row8_col2" class="data row8 col2" >3.28</td>
    </tr>
    <tr>
      <td id="T_ad928_row9_col0" class="data row9 col0" >Gonepteryx rhamni</td>
      <td id="T_ad928_row9_col1" class="data row9 col1" >2462</td>
      <td id="T_ad928_row9_col2" class="data row9 col2" >3.18</td>
    </tr>
    <tr>
      <td id="T_ad928_row10_col0" class="data row10 col0" >Vanessa cardui</td>
      <td id="T_ad928_row10_col1" class="data row10 col1" >2408</td>
      <td id="T_ad928_row10_col2" class="data row10 col2" >3.11</td>
    </tr>
    <tr>
      <td id="T_ad928_row11_col0" class="data row11 col0" >Anthocharis cardamines</td>
      <td id="T_ad928_row11_col1" class="data row11 col1" >2277</td>
      <td id="T_ad928_row11_col2" class="data row11 col2" >2.94</td>
    </tr>
    <tr>
      <td id="T_ad928_row12_col0" class="data row12 col0" >Pieris spec.</td>
      <td id="T_ad928_row12_col1" class="data row12 col1" >2113</td>
      <td id="T_ad928_row12_col2" class="data row12 col2" >2.73</td>
    </tr>
    <tr>
      <td id="T_ad928_row13_col0" class="data row13 col0" >Pieris brassicae</td>
      <td id="T_ad928_row13_col1" class="data row13 col1" >1967</td>
      <td id="T_ad928_row13_col2" class="data row13 col2" >2.54</td>
    </tr>
    <tr>
      <td id="T_ad928_row14_col0" class="data row14 col0" >Ochlodes sylvanus</td>
      <td id="T_ad928_row14_col1" class="data row14 col1" >1621</td>
      <td id="T_ad928_row14_col2" class="data row14 col2" >2.09</td>
    </tr>
    <tr>
      <td id="T_ad928_row15_col0" class="data row15 col0" >Aglais urticae</td>
      <td id="T_ad928_row15_col1" class="data row15 col1" >1430</td>
      <td id="T_ad928_row15_col2" class="data row15 col2" >1.85</td>
    </tr>
    <tr>
      <td id="T_ad928_row16_col0" class="data row16 col0" >Araschnia levana</td>
      <td id="T_ad928_row16_col1" class="data row16 col1" >1387</td>
      <td id="T_ad928_row16_col2" class="data row16 col2" >1.79</td>
    </tr>
    <tr>
      <td id="T_ad928_row17_col0" class="data row17 col0" >Papilio machaon</td>
      <td id="T_ad928_row17_col1" class="data row17 col1" >1356</td>
      <td id="T_ad928_row17_col2" class="data row17 col2" >1.75</td>
    </tr>
    <tr>
      <td id="T_ad928_row18_col0" class="data row18 col0" >Pyronia tithonus</td>
      <td id="T_ad928_row18_col1" class="data row18 col1" >1346</td>
      <td id="T_ad928_row18_col2" class="data row18 col2" >1.74</td>
    </tr>
    <tr>
      <td id="T_ad928_row19_col0" class="data row19 col0" >Aphantopus hyperantus</td>
      <td id="T_ad928_row19_col1" class="data row19 col1" >1295</td>
      <td id="T_ad928_row19_col2" class="data row19 col2" >1.67</td>
    </tr>
  </tbody>
</table>
