<style type="text/css">
#T_8d259 tr:hover {
  background: #f4f4f4;
}
#T_8d259 th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: black;
  font-size: 18px;
}
#T_8d259 td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_8d259 table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_8d259 caption {
  caption-side: top;
}
</style>
<table id="T_8d259">
  <caption>Top 20 most observed species of Reptiles and amphibians</caption>
  <thead>
    <tr>
      <th id="T_8d259_level0_col0" class="col_heading level0 col0" >species</th>
      <th id="T_8d259_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_8d259_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_8d259_row0_col0" class="data row0 col0" >Bufo bufo</td>
      <td id="T_8d259_row0_col1" class="data row0 col1" >3571</td>
      <td id="T_8d259_row0_col2" class="data row0 col2" >21.31</td>
    </tr>
    <tr>
      <td id="T_8d259_row1_col0" class="data row1 col0" >Rana temporaria</td>
      <td id="T_8d259_row1_col1" class="data row1 col1" >3121</td>
      <td id="T_8d259_row1_col2" class="data row1 col2" >18.63</td>
    </tr>
    <tr>
      <td id="T_8d259_row2_col0" class="data row2 col0" >Ichthyosaura alpestris</td>
      <td id="T_8d259_row2_col1" class="data row2 col1" >1758</td>
      <td id="T_8d259_row2_col2" class="data row2 col2" >10.49</td>
    </tr>
    <tr>
      <td id="T_8d259_row3_col0" class="data row3 col0" >Salamandra salamandra</td>
      <td id="T_8d259_row3_col1" class="data row3 col1" >1498</td>
      <td id="T_8d259_row3_col2" class="data row3 col2" >8.94</td>
    </tr>
    <tr>
      <td id="T_8d259_row4_col0" class="data row4 col0" >Lissotriton vulgaris</td>
      <td id="T_8d259_row4_col1" class="data row4 col1" >1102</td>
      <td id="T_8d259_row4_col2" class="data row4 col2" >6.58</td>
    </tr>
    <tr>
      <td id="T_8d259_row5_col0" class="data row5 col0" >Pelophylax spec.</td>
      <td id="T_8d259_row5_col1" class="data row5 col1" >792</td>
      <td id="T_8d259_row5_col2" class="data row5 col2" >4.73</td>
    </tr>
    <tr>
      <td id="T_8d259_row6_col0" class="data row6 col0" >Anguis fragilis</td>
      <td id="T_8d259_row6_col1" class="data row6 col1" >754</td>
      <td id="T_8d259_row6_col2" class="data row6 col2" >4.50</td>
    </tr>
    <tr>
      <td id="T_8d259_row7_col0" class="data row7 col0" >Lissotriton helveticus</td>
      <td id="T_8d259_row7_col1" class="data row7 col1" >661</td>
      <td id="T_8d259_row7_col2" class="data row7 col2" >3.94</td>
    </tr>
    <tr>
      <td id="T_8d259_row8_col0" class="data row8 col0" >Trachemys scripta scripta</td>
      <td id="T_8d259_row8_col1" class="data row8 col1" >513</td>
      <td id="T_8d259_row8_col2" class="data row8 col2" >3.06</td>
    </tr>
    <tr>
      <td id="T_8d259_row9_col0" class="data row9 col0" >Podarcis muralis</td>
      <td id="T_8d259_row9_col1" class="data row9 col1" >458</td>
      <td id="T_8d259_row9_col2" class="data row9 col2" >2.73</td>
    </tr>
    <tr>
      <td id="T_8d259_row10_col0" class="data row10 col0" >Natrix helvetica</td>
      <td id="T_8d259_row10_col1" class="data row10 col1" >408</td>
      <td id="T_8d259_row10_col2" class="data row10 col2" >2.43</td>
    </tr>
    <tr>
      <td id="T_8d259_row11_col0" class="data row11 col0" >Pelophylax ridibundus</td>
      <td id="T_8d259_row11_col1" class="data row11 col1" >344</td>
      <td id="T_8d259_row11_col2" class="data row11 col2" >2.05</td>
    </tr>
    <tr>
      <td id="T_8d259_row12_col0" class="data row12 col0" >Trachemys scripta elegans</td>
      <td id="T_8d259_row12_col1" class="data row12 col1" >322</td>
      <td id="T_8d259_row12_col2" class="data row12 col2" >1.92</td>
    </tr>
    <tr>
      <td id="T_8d259_row13_col0" class="data row13 col0" >Zootoca vivipara</td>
      <td id="T_8d259_row13_col1" class="data row13 col1" >313</td>
      <td id="T_8d259_row13_col2" class="data row13 col2" >1.87</td>
    </tr>
    <tr>
      <td id="T_8d259_row14_col0" class="data row14 col0" >Emydidae indet.</td>
      <td id="T_8d259_row14_col1" class="data row14 col1" >174</td>
      <td id="T_8d259_row14_col2" class="data row14 col2" >1.04</td>
    </tr>
    <tr>
      <td id="T_8d259_row15_col0" class="data row15 col0" >Alytes obstetricans</td>
      <td id="T_8d259_row15_col1" class="data row15 col1" >173</td>
      <td id="T_8d259_row15_col2" class="data row15 col2" >1.03</td>
    </tr>
    <tr>
      <td id="T_8d259_row16_col0" class="data row16 col0" >Trachemys scripta troostii</td>
      <td id="T_8d259_row16_col1" class="data row16 col1" >150</td>
      <td id="T_8d259_row16_col2" class="data row16 col2" >0.90</td>
    </tr>
    <tr>
      <td id="T_8d259_row17_col0" class="data row17 col0" >Lissotriton spec.</td>
      <td id="T_8d259_row17_col1" class="data row17 col1" >145</td>
      <td id="T_8d259_row17_col2" class="data row17 col2" >0.87</td>
    </tr>
    <tr>
      <td id="T_8d259_row18_col0" class="data row18 col0" >Pelophylax kl. esculentus</td>
      <td id="T_8d259_row18_col1" class="data row18 col1" >120</td>
      <td id="T_8d259_row18_col2" class="data row18 col2" >0.72</td>
    </tr>
    <tr>
      <td id="T_8d259_row19_col0" class="data row19 col0" >Trachemys scripta</td>
      <td id="T_8d259_row19_col1" class="data row19 col1" >101</td>
      <td id="T_8d259_row19_col2" class="data row19 col2" >0.60</td>
    </tr>
  </tbody>
</table>
