<style type="text/css">
#T_fd64b tr:hover {
  background: #f4f4f4;
}
#T_fd64b th {
  color: #fff;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  background: black;
  font-size: 18px;
}
#T_fd64b td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-size: 15px;
}
#T_fd64b table {
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
}
#T_fd64b caption {
  caption-side: top;
}
</style>
<table id="T_fd64b">
  <caption>Top 20 most observed species of Moths and microbes</caption>
  <thead>
    <tr>
      <th id="T_fd64b_level0_col0" class="col_heading level0 col0" >species</th>
      <th id="T_fd64b_level0_col1" class="col_heading level0 col1" >nberObs</th>
      <th id="T_fd64b_level0_col2" class="col_heading level0 col2" >pctObs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="T_fd64b_row0_col0" class="data row0 col0" >Noctua pronuba</td>
      <td id="T_fd64b_row0_col1" class="data row0 col1" >3199</td>
      <td id="T_fd64b_row0_col2" class="data row0 col2" >2.12</td>
    </tr>
    <tr>
      <td id="T_fd64b_row1_col0" class="data row1 col0" >Autographa gamma</td>
      <td id="T_fd64b_row1_col1" class="data row1 col1" >2431</td>
      <td id="T_fd64b_row1_col2" class="data row1 col2" >1.61</td>
    </tr>
    <tr>
      <td id="T_fd64b_row2_col0" class="data row2 col0" >Peribatodes rhomboidaria</td>
      <td id="T_fd64b_row2_col1" class="data row2 col1" >2072</td>
      <td id="T_fd64b_row2_col2" class="data row2 col2" >1.37</td>
    </tr>
    <tr>
      <td id="T_fd64b_row3_col0" class="data row3 col0" >Agrotis exclamationis</td>
      <td id="T_fd64b_row3_col1" class="data row3 col1" >2014</td>
      <td id="T_fd64b_row3_col2" class="data row3 col2" >1.34</td>
    </tr>
    <tr>
      <td id="T_fd64b_row4_col0" class="data row4 col0" >Xestia c-nigrum</td>
      <td id="T_fd64b_row4_col1" class="data row4 col1" >1708</td>
      <td id="T_fd64b_row4_col2" class="data row4 col2" >1.13</td>
    </tr>
    <tr>
      <td id="T_fd64b_row5_col0" class="data row5 col0" >Lacanobia oleracea</td>
      <td id="T_fd64b_row5_col1" class="data row5 col1" >1706</td>
      <td id="T_fd64b_row5_col2" class="data row5 col2" >1.13</td>
    </tr>
    <tr>
      <td id="T_fd64b_row6_col0" class="data row6 col0" >Idaea aversata</td>
      <td id="T_fd64b_row6_col1" class="data row6 col1" >1549</td>
      <td id="T_fd64b_row6_col2" class="data row6 col2" >1.03</td>
    </tr>
    <tr>
      <td id="T_fd64b_row7_col0" class="data row7 col0" >Euplagia quadripunctaria</td>
      <td id="T_fd64b_row7_col1" class="data row7 col1" >1444</td>
      <td id="T_fd64b_row7_col2" class="data row7 col2" >0.96</td>
    </tr>
    <tr>
      <td id="T_fd64b_row8_col0" class="data row8 col0" >Cydalima perspectalis</td>
      <td id="T_fd64b_row8_col1" class="data row8 col1" >1390</td>
      <td id="T_fd64b_row8_col2" class="data row8 col2" >0.92</td>
    </tr>
    <tr>
      <td id="T_fd64b_row9_col0" class="data row9 col0" >Hypena proboscidalis</td>
      <td id="T_fd64b_row9_col1" class="data row9 col1" >1381</td>
      <td id="T_fd64b_row9_col2" class="data row9 col2" >0.92</td>
    </tr>
    <tr>
      <td id="T_fd64b_row10_col0" class="data row10 col0" >Ochropleura plecta</td>
      <td id="T_fd64b_row10_col1" class="data row10 col1" >1372</td>
      <td id="T_fd64b_row10_col2" class="data row10 col2" >0.91</td>
    </tr>
    <tr>
      <td id="T_fd64b_row11_col0" class="data row11 col0" >Celypha lacunana</td>
      <td id="T_fd64b_row11_col1" class="data row11 col1" >1304</td>
      <td id="T_fd64b_row11_col2" class="data row11 col2" >0.87</td>
    </tr>
    <tr>
      <td id="T_fd64b_row12_col0" class="data row12 col0" >Noctua janthe / janthina</td>
      <td id="T_fd64b_row12_col1" class="data row12 col1" >1286</td>
      <td id="T_fd64b_row12_col2" class="data row12 col2" >0.85</td>
    </tr>
    <tr>
      <td id="T_fd64b_row13_col0" class="data row13 col0" >Lomaspilis marginata</td>
      <td id="T_fd64b_row13_col1" class="data row13 col1" >1278</td>
      <td id="T_fd64b_row13_col2" class="data row13 col2" >0.85</td>
    </tr>
    <tr>
      <td id="T_fd64b_row14_col0" class="data row14 col0" >Chrysoteuchia culmella</td>
      <td id="T_fd64b_row14_col1" class="data row14 col1" >1259</td>
      <td id="T_fd64b_row14_col2" class="data row14 col2" >0.84</td>
    </tr>
    <tr>
      <td id="T_fd64b_row15_col0" class="data row15 col0" >Agrotis puta</td>
      <td id="T_fd64b_row15_col1" class="data row15 col1" >1240</td>
      <td id="T_fd64b_row15_col2" class="data row15 col2" >0.82</td>
    </tr>
    <tr>
      <td id="T_fd64b_row16_col0" class="data row16 col0" >Anania hortulata</td>
      <td id="T_fd64b_row16_col1" class="data row16 col1" >1228</td>
      <td id="T_fd64b_row16_col2" class="data row16 col2" >0.81</td>
    </tr>
    <tr>
      <td id="T_fd64b_row17_col0" class="data row17 col0" >Mythimna albipuncta</td>
      <td id="T_fd64b_row17_col1" class="data row17 col1" >1215</td>
      <td id="T_fd64b_row17_col2" class="data row17 col2" >0.81</td>
    </tr>
    <tr>
      <td id="T_fd64b_row18_col0" class="data row18 col0" >Campaea margaritaria</td>
      <td id="T_fd64b_row18_col1" class="data row18 col1" >1179</td>
      <td id="T_fd64b_row18_col2" class="data row18 col2" >0.78</td>
    </tr>
    <tr>
      <td id="T_fd64b_row19_col0" class="data row19 col0" >Camptogramma bilineata</td>
      <td id="T_fd64b_row19_col1" class="data row19 col1" >1179</td>
      <td id="T_fd64b_row19_col2" class="data row19 col2" >0.78</td>
    </tr>
  </tbody>
</table>
