<footer>

      <div>
        <a href="https://www.researchgate.net/project/CO-HABITAT-Towards-animal-inclusive-design-strategies-in-the-Brussels-Capital-Region" title="ResearchGate">
          <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa-brands fa-researchgate"></i>
              </span>
        </a>

        <a href="https://github.com/co-habitat" title="GitHub">
          <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa-brands fa-github"></i>
              </span>
        </a>

        <a href="https://twitter.com/marl3n3B" title="Twitter">
          <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa-brands fa-twitter"></i>
              </span>
        </a>

        <a href="https://twitter.com/marl3n3B" title="Twitter">
          <span class="fa-stack fa-lg">
                  <i class="bi bi-circle-fill"></i>
                  <i class="bi bi-twitter"></i>
              </span>
        </a>
        <i class="bi bi-twitter"></i>
        <i class="fa-solid fa-user"></i>
         <i class="fa-regular fa-user"></i>

      </div>

  <p>
    <small>Theme inspired by <a
          href="https://github.com/orderedlist">orderedlist</a>'s
      <a href="https://github.com/orderedlist/minimal">Minimal</a>.
  Licensed under <a
          href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA
  3.0</a>.
  </small>
  </p>

</footer>
