<a href="https://www.researchgate.net/project/CO-HABITAT-Towards-animal-inclusive-design-strategies-in-the-Brussels-Capital-Region" title="ResearchGate">
	<span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa-brands fa-researchgate"></i>
      </span>
</a>

<a href="https://github.com/co-habitat" title="GitHub">
	<span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa-brands fa-github"></i>
      </span>
</a>

<a href="https://twitter.com/marl3n3B" title="Twitter">
	<span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa-brands fa-twitter"></i>
      </span>
</a>

<a href="https://twitter.com/marl3n3B" title="Twitter">
	<span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="bi bi-twitter"></i>
      </span>
</a>
<i class="bi bi-twitter"></i>
