<a href="https://www.researchgate.net/project/CO-HABITAT-Towards-animal-inclusive-design-strategies-in-the-Brussels-Capital-Region" title="ResearchGate">
	<span class="fa-stack fa-lg" style="color:Black;">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa-brands fa-researchgate"></i>
      </span>
</a>

<a href="https://github.com/co-habitat" title="GitHub">
	<span class="fa-stack fa-lg" style="color:Black;">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa-brands fa-github"></i>
      </span>
</a>

<a href="https://twitter.com/marl3n3B" title="Twitter">
	<span class="fa-stack fa-lg" style="color:Black;">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa-brands fa-twitter"></i>
      </span>
</a>

<a href="https://twitter.com/marl3n3B" title="Twitter">
	<span style="color:Black">
	          <i class="fa fa-circle fa-stack-2x" style="color:Black"></i>
      </span>
</a>

<a href="https://twitter.com/marl3n3B" title="Twitter">
	<span style="color:Black">
	<i class="fa-brands fa-twitter fa-2x" style="color:Black"></i>
      </span>
</a>
 <i class="fa-brands fa-github-square"></i>
  <i class="fa-brands fa-github-square"></i>
