<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <!-- Style -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ base_path }}/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{ base_path }}/assets/css/bootstrap.min.css">
    <script src="{{ base_path }}/assets/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <div class="wrapper">


      <section>

        {{ content }}

        {% include list_posts.html %}

      </section>

      {% include footer.html %}

    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
