<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <!-- Style -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}" type="text/css">
    <!-- <link rel="stylesheet" href="/assets/css/fontawesome.all.css" type="text/css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css" type="text/css"> -->
    <!-- <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script> -->

  </head>
  <body>
    <div class="wrapper">

      {% include header.html %}

      <section>

        {{ content }}

        {% include list_posts.html %}

          <a href="https://innoviris.brussels/"><img src="/assets/img/logo_innoviris.png" alt="Innoviris" width="75"/></a>
            <a href="https://www.kuleuven.be/english/kuleuven/index.html/"><img src="/assets/img/logo_KUL.png" alt="KULeuven" width="75"/></a>
              <a href="https://uclouvain.be/en/index.html/"><img src="/assets/img/logo_UCL.jpg" alt="UCLouvain" width="75"/></a>
            This project has been funded by Innoviris Brussels research and innovation programme under grant agreement No. 2021-PRB-7
        </p>

      </section>

      {% include footer.html %}

    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
