---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" style="width:100%;height:100px">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
    {% for person in site.people %}
    {% if person.name == page.author %}
    <a href="{{ site.baseurl }}{{ person.url }}">{{ page.author }}</a>
    {% endif %}
    {% endfor %}
    </span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <p style="padding-top:100px"> </p>
    {{content}}

    {% if page.tags %}
      <p><small>Tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small></p>
    {% endif %}

    {% if page.categories %}
      <p><small>Categories: <em>{{ page.categories | join: "</em> - <em>" }}</em></small></p>
    {% endif %}
  </div>

</article>
